body{
    background-color: #d5eeff;
}

/*********Navbar start *******************/
.logo{
    font-size: 3rem;
    color: #005689;
    font-weight: bold;
}

/*********Navbar End *******************/


/*********Card start *******************/



/*********Card End *******************/